@page "/vehicles"
@rendermode InteractiveServer

<h3>Fleet of Cars</h3>

@if (vehicles == null)
{
    <p><em>Loading cars...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Mileage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in vehicles)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>@car.Make</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
                    <td>@car.Color</td>
                    <td>@car.Mileage.ToString("N0") km</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Model.Car> vehicles;

    protected override void OnInitialized()
    {
        var vehicleRepository = new Repository.VehicleRepository();
        vehicles = vehicleRepository.GetAllCars();
    }
}
